html, body {
    touch-action: manipulation; 
    -ms-touch-action: manipulation; 
}


body {
    background-color: #54599c;
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

model-viewer {
    width: 100%;
    height: 100%;
    margin: 0px;
    animation: fadeIn 10s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5); 
    }
    to {
        opacity: 1;
        transform: scale(1); 
    }
}


.accessory {
    opacity: 0;
    transition: opacity 5s ease-in-out; 
}


.accessory.show {
    opacity: 1;
}

#default-ar-button {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#default-ar-button {
    position: none;
}


.content-viewer {
    width: 100%;
    height: 100%;
   display: flex;
   margin: 0px 0px;
}

.Hotspot {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.5);
    
}


.Hotspot:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.7);
}




img {
    width: 100%;
    height: 100%;
}

#aboutUs {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 50px;
}

#commands {
    display: block;
    position: fixed;
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 130px;
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100%; 
    overflow: auto;
}


.boxContent {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#ModalAboutUs .modal-content {
    flex-direction: column;
    color: white;
    background: hsla(241,18%,47%,.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff2e;
    padding: 20px;
    max-width: 350px;

    border-radius: 7px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#ModalContact .modal-content {
    color: white;
    background: hsla(241,18%,47%,.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff2e;
    padding: 20px;
    max-width: 350px;

    border-radius: 7px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
}



.modal-content div {
    height: 80%;
    overflow-y: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


#loading {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#contentLoading {
    font-size: 50px;
}


@media screen and (max-width: 500px) {
    #commands {
        display: none;
    }
    .Hotspot {
        border: 15px solid rgba(239, 235, 235, 0.5);
    }
}




#ModalContact form h2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

input, textarea { 
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 93%;
    padding: 5px 10px;
}

input {
    height: 30px;
}

#buttonsForm {
    width: 98%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input#submit, input#reset {
    height: 40px;
    width: 40%;
    padding: 10px 5px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: rgb(251, 248, 248);
}

input:focus, textarea:focus {
    outline: 2px solid rgb(82, 82, 230); 
    outline-offset: 2px;    
}

input:active, textarea:focus{
    outline: 2px solid rgb(82, 82, 230); 
}
