html, body {
    touch-action: manipulation; /* Previene el zoom de pellizco */
    -ms-touch-action: manipulation; /* Previene el zoom de pellizco en IE */
}


body {
    background-color: #54599c;
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
model-viewer {
    width: 100%;
    height: 100%;
    margin: 0px;
}
.content-viewer {
    width: 100%;
    height: 100%;
   display: flex;
   margin: 0px 0px;
}

.Hotspot {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.5);
    
}
/* border: 20px solid rgba(239, 235, 235, 0.5); */
/* border in 0.1  */

.Hotspot:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.7);
}




img {
    width: 100%;
    height: 100%;
}

#aboutUs {
    display: fixed;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
}

#commands {
    display: fixed;
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 130px;
}




.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene el modal en la misma posición en la pantalla */
    z-index: 1; /* Coloca el modal sobre otros elementos */
    left: 0;
    top: 0;
    width: 100vw; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Permite desplazamiento si el contenido del modal es grande */
}


.boxContent {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#ModalAboutUs .modal-content {
    flex-direction: column;
    color: white;
    background: hsla(241,18%,47%,.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff2e;
    padding: 20px;
    max-width: 350px;

    border-radius: 7px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#ModalContact .modal-content {
    color: white;
    background: hsla(241,18%,47%,.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid #ffffff2e;
    padding: 20px;
    max-width: 350px;

    border-radius: 7px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
}



.modal-content div {
    height: 80%;
    overflow-y: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


#loading {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#contentLoading {
    font-size: 50px;
}


@media screen and (max-width: 500px) {
    #commands {
        display: none;
    }
    .Hotspot {
        border: 15px solid rgba(239, 235, 235, 0.5);
    }
}




#ModalContact form h2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

input, textarea { 
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 93%;
    padding: 5px 10px;
}

input {
    height: 30px;
}

#buttonsForm {
    width: 98%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input#submit, input#reset {
    height: 40px;
    width: 40%;
    padding: 10px 5px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: rgb(251, 248, 248);
}

input:focus, textarea:focus {
    outline: 2px solid rgb(82, 82, 230); /* Cambia el color del borde de activación */
    outline-offset: 2px;    /* Opcional: añade un espacio entre el borde y el outline */
}

/* Cambiar el color del borde cuando el botón es activado (clicked) */
input:active, textarea:focus{
    outline: 2px solid rgb(82, 82, 230); /* Cambia el color del borde cuando es activado */
}
