body {
    background-color: #54599c;
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
model-viewer {
    width: 100%;
    height: 100%;
    margin: 0px;
}
.content-viewer {
    width: 100%;
    height: 100%;
   display: flex;
   margin: 0px 0px;
}

#modelGlb .annt {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.1);
}

.annt:hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(21, 25, 222);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 20px solid rgba(239, 235, 235, 0.3);
}




img {
    width: 100%;
    height: 100%;
}

#aboutUs {
    display: fixed;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
}

#commands {
    display: fixed;
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 130px;
}




.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene el modal en la misma posición en la pantalla */
    z-index: 1; /* Coloca el modal sobre otros elementos */
    left: 0;
    top: 0;
    width: 100vw; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Permite desplazamiento si el contenido del modal es grande */
}


#boxContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.modal-content {
    color: white;
    background: hsla(241,18%,47%,.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid #ffffff2e;
    padding: 20px;
    max-width: 350px;
    height: 50%;
    border-radius: 7px;
    margin: 0px 20px 0px 20px;
}
.modal-content div {
    height: 80%;
    overflow-y: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


#loading {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#contentLoading {
    font-size: 50px;
}


@media screen and (max-width: 500px) {
    #commands {
        display: none;
    }
    .annt {
        border: 10px solid rgba(239, 235, 235, 0.1);
    }
}
